.input-text-error{
	background: url("../../img/IPX_300x30_Error.png") no-repeat;
}
#main li{
onmouseover: expression(onmouseover=function (){this.style.borderColor ='#cccccc';this.style.backgroundColor ='#23A5E3'});
onmouseout: expression(onmouseout=function (){this.style.borderColor=''this.style.backgroundColor =''});
}

.ui-menu .ui-menu-item a{
color: #808080;
cursor: pointer;
height: 30px;
font: normal 14px/16px arial;
}
#ui-active-menuitem{
	background: rgb(35, 165, 227);
}
