.columnData {
	float: left;
	width: 160px;
	height: 30px;
	margin-left: 0px;
}

.groupDispaly {
	width: 960px;
	margin: 0px auto;
	overflow: auto;
}

.groupListContent {
	width: 1000px;
	margin: 0 auto;
}

.editIcon {
	display: block;
	width: 30px;
	height: 30px;
	margin: 0 auto;
	background: url("../../image/common/Edit.png") no-repeat;
}

.removeIcon {
	display: block;
	width: 30px;
	height: 30px;
	margin: 0 auto;
	background: url("../../image/common/Delete.png") no-repeat;
}

.submit-div {
	position: absolute;
	margin-top: 110px;
	margin-left: 110px;
}

.hightLight {
	background: url("../../img/IMG_List_Acitve_1x30.png");
}

.normalBg {
	background: url("../../img/IMG_List_1x30.png");
}

.ui-dialog-title-dialog {
	margin-left: 100px;
}

.addGroup {
	margin: 10px auto;
	display: none;
}

#autoText {
	margin-top: 15px;
	height: 55px;
	display: inline-block;
	vertical-align: middle;
}

#customerName {
	width: 389px;
	max-height: 57px;
	line-height: 57px;
	overflow-y: auto;
	overflow-x: hidden;
	height: auto !important;
	cursor: text;
	font-size: 14px;
	font-family: Arial;
	color: #555;
	min-height: 1px;
	z-index: 999;
	margin: 0;
	padding: 0;
	background-color: #fff;
	list-style-type: none;
	clear: left;
	border-color: #BFBFBF;
	border-width: 1px;
	border-style: solid;
	outline: none;
	-webkit-box-shadow: inset 0 0 5px #BFBFBF;
	-webkit-border-radius: 2px;
	-moz-box-shadow: inset 0 0 5px #BFBFBF;
	-moz-border-radius: 2px;
	border-radius: 2px;
	box-shadow: inset 0 0 5px #BFBFBF;
	padding-left: 3px;
	padding-right: 3px;
}

#groupDetail {
	margin-top: 15px;
	margin-left: 30px;
	float: left;
	width: 300px;
	height: 40px;
	padding-top: 20px;
	color: #A7A1A1;
}

.ui-dialog .ui-widget-header {
	border: 1px solid #71B3D6;
	background: #71B3D6;
	height: 40px;
}

.ui-dialog .ui-dialog-title {
	margin-top: 5px;
}

#location_table td {
	width: 80px;
	text-align: center;
}

#location_table tr {
	line-height: 40px;
}

#location_table td input {
	height: 30px;
	width: 220px;
}

#location_table td select {
	height: 30px;
	width: 220px;
}

#location_table tr span { /* color: #FF0000; */
	position: absolute;
	top: auto;
	left: 80px;
}

.submit-button {
	width: 80px;
	height: 30px;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	font-family: Arial;
	background: url("../../img/BTN_Create_80x30.png") no-repeat;
	font-size: 14px;
	font-weight: bold;
	font-family: Arial;
	margin-right: 20px;
	cursor: pointer;
}

.reset-button {
	width: 80px;
	height: 30px;
	color: #8A8A8A;
	font-size: 14px;
	font-weight: bold;
	font-family: Arial;
	cursor: pointer;
	background: url("../../img/BTN_Cancel_80x30.png") no-repeat;
}

.ui-autocomplete {
	max-height: 130px;
	overflow: auto;
}

#addButton {
	background:
		url("../../image/customize/customizedView/BTN_Create_80x30.png")
		no-repeat;
}

#addButton:hover {
	background:
		url("../../image/customize/customizedView/BTN_Create_Hover_80x30.png")
		no-repeat;
}

#addButton {
	width: 80px;
	text-align: center;
	line-height: 30px;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	font-family: Arial;
	float: right;
}

#dialog-confirm {
	display: none;
}

div.operation_assets_list ul {
	display: block;
}

.submit-button {
	background:
		url("../../image/customize/customizedView/BTN_Create_80x30.png")
		no-repeat;
}

.submit-button:HOVER {
	background:
		url("../../image/customize/customizedView/BTN_Create_Hover_80x30.png")
		no-repeat;
}

.reset-button {
	background: url("../../image/common/Cancel.png") no-repeat;
}

.reset-button:hover {
	background: url("../../image/common/Cancel_Hover.png") no-repeat;
}

.dataList-div-body .row .Operation {
	margin-left: -20px;
}

.editGroupIcon {
	cursor: pointer;
	width: 30px;
	height: 30px;
	margin: 0 35;
	background: url("../../image/common/Edit.png") no-repeat;
}

.deleteGroupIcon {
	cursor: pointer;
	position: relative;
	top: -60px;
	left: 45px;
	width: 30px;
	height: 30px;
	margin: 0 auto;
	background: url("../../image/common/Delete.png") no-repeat;
}

.editIcon,.removeIcon {
	cursor: pointer;
}

.groupName {
	cursor: pointer;
	color: rgb(41, 184, 211);
}

.roleAddContent #autoText .token-input-list-facebook {
	width: 300px;
	max-height: 55px;
	min-height: 55px;
}

#group_table {
	margin: 20px auto;
	width: 400px;
	font-family: arial;
    font-size: 14px;
}

#group_table tr {
	line-height: 40px;
}

#group_table td input,select {
	height: 30px;
	width: 220px;
}

#dialog .submit-div {
	position: absolute;
	margin: 0px 210px;
	font-family: arial;
	font-size: 14px;
	font-weight: bold;
	width: 200px;
	margin-top: 5px;
}

#group_table td input {
	padding-left: 8px;
}

#group_table td span {
	padding-left: 4px;
}

.dropDownList_icon {
	padding-left: 0px;
}

#dialog {
	display: none;
}

div.token-input-dropdown-facebook {
	/* �����dialog�޷���ʾautocomplete�����⣬ �������� */
	z-index: 10000;
}

#customers,#token-input-customers {
	border-color: #BFBFBF;
	border-width: 0px;
	border-style: solid;
	outline: none;
	-webkit-box-shadow: inset 0 0 0;
	-webkit-border-radius: 2px;
	-moz-box-shadow: inset 0 0 5px #BFBFBF;
	-moz-border-radius: 2px;
	border-radius: 2px;
	box-shadow: inset 0 0 0;
	padding-left: 5px;
	padding-right: 5px;
}

.token-input-token-facebook {
	line-height: 15px;
}
.dataList-div-nineSqurt{
	display: none;
}
.group-error{
border: solid 1px red !important;
}
.input-error-autocomplete{
border: solid 1px red !important;
}
.dataList-div-checkbox,.dataList-div-checkbox-all{
	display:none;
}

#searchCondition {
	width: 940px;
}

#searchButton, #customizedView {
	left: 20px;
}

.ui-dialog .ui-dialog-content {
    overflow: hidden;
}

.token-input-list-facebook{
	margin-top: 10px;
}