*:focus {
	outline: none;
}

.roleListContent {
	background-image: url("../../image/common/IMG_Background.png");
	background-repeat: repeat;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
}

.roleAddContent {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	padding-bottom: 20px;
	height: 55px;
}

#autoText {
	float: left;
	margin-top: 15px;
	height: 55px;
	vertical-align: middle;
}

#employeeName {
	width: 389px;
	max-height: 57px;
	line-height: 57px;
	overflow-y: auto;
	overflow-x: hidden;
	height: auto !important;
	cursor: text;
	font-size: 14px;
	font-family: Arial;
	color: #555;
	min-height: 1px;
	z-index: 999;
	margin: 0;
	padding: 0;
	background-color: #fff;
	list-style-type: none;
	clear: left;
	border-color: #BFBFBF;
	border-width: 1px;
	border-style: solid;
	outline: none;
	-webkit-box-shadow: inset 0 0 5px #BFBFBF;
	-webkit-border-radius: 2px;
	-moz-box-shadow: inset 0 0 5px #BFBFBF;
	-moz-border-radius: 2px;
	border-radius: 2px;
	box-shadow: inset 0 0 5px #BFBFBF;
	padding-left: 3px;
	padding-right: 3px;
}

}
#checxboxOperate {
	margin-left: 30px;
}

.addOperateButton {
	margin-top: 25px;
	float: right;
}

.saveOperateButton {
	clear: both;
	margin-top: 25px;
	margin-right: 0px;
	text-align: right;
	padding-right: 20px;
}

#checkboxOperate {
	margin-top: 15px;
	margin-left: 80px;
	float: left;
	width: 252px;
	height: 37px;
	padding-top: 20px;
	color: #A7A1A1;
}

.roleUnChecked {
	background-image: url("../../image/user/Unchecked.png");
}

.roleChecked {
	background-image: url("../../image/user/Checked.png");
}

.roleCheckBoxOn, .roleCheckBoxOff {
	float: left;
	width: 100px;
	height: 18px;
	display: block;
	padding-left: 22px;
}

.roleCheckBoxOn {
	background: url("../../image/user/ICN_Checkbox_Active_14x15.png") no-repeat  left;
}

.roleCheckBoxOff {
	background: url("../../image/user/ICN_Checkbox_14x15.png") no-repeat  left;
}

 #it {
	width: 60px;
}

/*
.admin {
	width: 100px;
} */


.addOperateButton input {
	margin-left: 20px;
	cursor: pointer;
	margin-top: 4px;
	font-size: 14px;
	width: 80px;
	height: 30px;
	font-weight: bold;
	text-align: center;
	border-radius: 3px;
	border-width: 0px;
	font-family: "Arial", "Verdana", "sans-serif";
}

.saveOperateButton input {
	margin-left: 20px;
	cursor: pointer;
	margin-top: 4px;
	font-size: 14px;
	width: 80px;
	height: 30px;
	font-weight: bold;
	text-align: center;
	border-radius: 3px;
	border-width: 0px;
	font-family: "Arial", "Verdana", "sans-serif";
}

#addButton, #saveButton {
	background-color: white;
	color: #FFFFFF;
	background: url("../../image/customize/customizedView/BTN_Create_80x30.png") no-repeat;
}

#addButton:hover {
	color: #FFFFFF;
	background: url("../../image/customize/customizedView/BTN_Create_Hover_80x30.png") no-repeat;
}

#saveButton:hover {
	color: #FFFFFF;
	background: url("../../image/customize/customizedView/BTN_Create_Hover_80x30.png") no-repeat;
}

#resetButton, #cancelButton{
	background-color: white;
	color: #8A8A8A;
	background: url("../../image/customize/customizedView/BTN_Cancel_80x30.png") no-repeat;
}

#resetButton:hover {
	color: #8A8A8A;
	background: url("../../image/customize/customizedView/BTN_Cancel_Hover_80x30.png") no-repeat;
}

#cancelButton:hover {
	color: #8A8A8A;
	background: url("../../image/customize/customizedView/BTN_Cancel_Hover_80x30.png") no-repeat;
}

.rowHead {
	clear: both;
	height: 30px;
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	background-color: #71B3D6;
	border-radius: 3px;
	margin-top: 15px;
}

.columnElement {
	font: normal 14px/24px arial;
	font-family: "Arial", "Verdana", "sans-serif";
	text-align: center;
	color: #FFFFFF;
	font-weight: bold;
	line-height: 30px;
	float: left;
	background: url("../../image/customize/customizedView/bg_line.png") right no-repeat;
}

.sequenceElement {
	width: 14%;
}

.employeeInfoElement {
	width: 20%;
}

.operateElement {
	width: 15.3%;
}

.employeeRoleInfo {
	height: 29px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #CBCBCB;
	border-top: 0px;
	background-color: #F5F5F5;
	width: 960px;
	overflow: hidden;
	border-radius: 3px;
}

.employeeRoleInfo:HOVER {
	background-color: #BCDFF1;
}

.columnData {
	font: normal 14px/24px arial;
	font-family: "Arial", "Verdana", "sans-serif";
	text-align: center;
	float: left;
	height: 29px;
	line-height: 29px;
}

.operateCheckbox {
	width: 15.3%;
}

.roleCheckBoxInRowOn, .roleCheckBoxInRowOff {
	width: 16px;
	height: 29px;
	line-height: 29px;
	display: block;
	margin: 0 auto;
}

.roleCheckBoxInRowOn {
	
	background: url("../../image/user/ICN_Checkbox_Active_14x15.png") no-repeat left;
}

.roleCheckBoxInRowOff {
	background: url("../../image/user/ICN_Checkbox_14x15.png") no-repeat left;
}

.removeElement {
	width: 15.3%;
}
.removeElement span {
	width: 15.3%;
	cursor: pointer;
	background: url("../../image/customize/customizedView/icon_delete_normal.png") no-repeat;
	height: 24px;
	line-height: 29px;
	width: 24px;
	display: block;
	margin: 3px auto;
}

.removeElement span:hover {
	background: url(../../image/customize/customizedView/icon_delete_hover.png) no-repeat;
}

.rowEven {
	background-color: #F5F5F5;
}

.rowHover {
    background-color: #DDF1F8;
}

.employeeRoleInfoTemplate {
	display: none;
}

#displayUserInfoTips{
	display: none;
}

.tipsTitle, .tipsContent {
	color: black;
	line-height: 24px;
}

.tipsContent {
	font-weight: normal;
	padding-left: 10px;
}

.roleDispaly a.underLine {
	display: none;
	position: absolute;
	width: 16px;
	border: 1px solid #71B3D6;
	top: 22px;
	left: 64px;
}

.itInRow, .adminInRow {
	position: relative;
}
