#main {
	height: auto;  
	padding: 5px 0px 5px 0px;
	width:1000px;
	font-family: Arial;
	margin-left: auto;
	margin-right: auto;
}

#main a {
 	font-weight: bold;
}

td{
	text-align: center;
	vertical-align: middle;
	font-size: 14px;
}

tr {
	height: 25px;
}

#left {
    width: 580px;
	height: auto;
	float: left;
	margin-bottom: 5px;
	margin-right: 10px;
}

.mainPanel table {
	border-color: #418FB5;
}

.mainPanel a {
	text-decoration: underline;
	color: #418FB5;
}

#right {
    width: 400px;
    height: auto;
    float: right;
    margin-top: -30px;
}

.td-header {
	background-image: url(../../searchList/images/IMG_ListTitle_Middle_1x30.png);
	color: #FFFFFF;
	font-size: 14px;
}

.tr-header {
	width: 148px;
	height: 30px;
	text-align: left;
	text-indent: 13px;
	font-size: 14px;
}

.treeIndent {
	width: 140px;
	height: 23px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
	
}

.mainPanel tr td {
	width: 70px;
}

.afterTR,.afterTR-available,.afterTR-inuse,.afterTR-idle {
	background-color: #F5F6F5; 
}

.afterTR td div,.afterTR-available td div,.afterTR-inuse td div,.afterTR-idle td div{
	margin-top: 6px;
	text-indent: 30px;
}

.panel_title {
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	font-weight: bold;
	background-image: url(../../searchList/images/IMG_ListTitle_Middle_1x30.png);
	color: #FFFFFF;
	padding-left: 10px;
}

.panel_title span a {
	float: right;
	padding-right: 5px;
	color: #FFFFFF;
	text-decoration: none;
}

.todo_content{
	border: 1px solid #418FB5;
	padding: 6px 10px 10px 10px;
}

.todo_content table {
	height: auto;
	margin: 4px 0 0 0;
	color: #555555;
	border-spacing: 0;
	border-bottom: 1px solid #E6E6E6;
}

.todo_content table td{
	text-align: center;
}

.todo_content table th{
	font-size: 14px;
	height: 25px;
	line-height: 25px;
	border-bottom: 1px solid #23A5E3;
	color: #555555;
	text-align: center;
}

.tr_checkbox {
	width: 30px;
}

.confirmButton {
	background: url("../../image/common/BTN_Create_80x30.png") no-repeat;
	cursor: pointer;
	height: 30px;
	width: 80px;
	font-weight: bold;
	font-size: 14px;
	color: #FFFFFF;
	margin: 3px 0px -6px 7px;
	border: 0px;
}

.confirmButton:hover {
	background: url("../../image/common/BTN_Create_Hover_80x30.png") no-repeat;
}

.newlyPurchaseItemsPanel,.returnedAssetPanel,.receivedAssetPanel,.idleAssetPanel {
	margin-top: 30px;
}

.warrantyExpiredPanel,.licenseExpiredPanel {
	width: 576px;
	margin-top: 30px;
}

.leftPanel_content{
	border: 1px solid #418FB5;
	padding: 6px 10px 10px 10px;
}

.leftPanel_content table {
	width: 540px;
	height: auto;
	margin: 4px 0 0 0;
	color: #555555;
	border-spacing: 0;
	border-bottom: 1px solid #E6E6E6;
}

.leftPanel_content table td{
	text-align: center;
	width: auto;
}

.leftPanel_content table th{
	font-size: 14px;
	height: 25px;
	line-height: 25px;
	border-bottom: 1px solid #23A5E3;
	color: #555555;
	text-align: center;
	width: auto;
}

.tr-header-customer {
	text-align: left;
	text-indent: 3px;
	font-size: 14px;
	height: 30px;
}

.tree_icons {
	background: url("../../image/common/tree_icons.png") no-repeat;
	display: inline-block;
	width: 16px;
    line-height: 16px;
}

.tree_icon_close {
	background-position: -96px -0px;
}

.tree_icon_open {
	background-position: -112px -0px;
}

.tr-all-asset,.tr-my-asset,.tr-customer-asset {
	background-color: #DDF1F9;
}

.tr-all-asset .tr-header,.tr-my-asset .tr-header {
	font-weight: bold;
}

.viewMoreIcon {
	background: url("../../image/common/view-more.png") no-repeat;
	float: right;
	margin-top: 9px;
	margin-right: 5px;
}

.viewMore {
	cursor: pointer;
}

.viewMoreContent {
	float: right;
	padding-right: 3px;
	font-size: 12px;
}

.div_checkbox,.div_checkbox_all {
	cursor: pointer;
	background: url(../../image/common/ICN_Checkbox_14x15.png) no-repeat 50% 50%;
	width: 30px;
	height: 25px;
	line-height: 25px;
}

.div_checkbox_actived,.div_checkbox_all_actived {
	background: url(../../image/common/ICN_Checkbox_Active_14x15.png) no-repeat 50% 50%;
}

.overFlow{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.deleteItem {
	cursor: pointer;
	width: 30px;
	height: 30px;
	line-height: 30px;
	margin-left: 35px;
	background: url("../../image/common/icon_delete_normal.png") no-repeat;
}

.deleteItem:hover {
	background: url("../../image/common/icon_delete_hover.png") no-repeat;
}

.itemName {
	cursor: pointer;
	color: #418FB5;
	font-weight: bold;
	text-decoration: underline;
}

.button_returnToIT {
	background: url("../../image/common/button_bg_return_normal.png") no-repeat;
	cursor: pointer;
	height: 30px;
	width: 105px;
	font-weight: bold;
	font-size: 14px;
	color: #FFFFFF;
	margin: 3px 0px -6px 7px;
	border: 0px;
}

.button_returnToIT:hover {
	background: url("../../image/common/button_bg_return_hover.png") no-repeat;
}