#main {
	height: auto;  
	padding: 5px 0px 5px 0px;
	width:1000px;
	font-family: Arial;
	margin-left: auto;
	margin-right: auto;
}

#main a {
 	font-weight: bold;
}

td{
	text-align: center;
	vertical-align: middle;
	font-size: 14px;
}

tr {
	height: 25px;
}

#left {
    width: 580px;
	height: auto;
	float: left;
	margin-bottom: 5px;
	margin-right: 10px;
}

.mainPanel {
	margin-top: 30px;
}

.mainPanel table {
	border-color: #418FB5;
}

.mainPanel a {
	text-decoration: underline;
	color: #418FB5;
}

#right {
    width: 410px;;
    height: auto;
    float: right;
}

.td-header {
	background-image: url(../../searchList/images/IMG_ListTitle_Middle_1x30.png);
	color: #FFFFFF;
}

.tr-header {
	width: 140px;
	height: 30px;
	text-align: left;
	text-indent: 13px;
	font-size: 14px;
}

.treeIndent {
	width: 140px;
	height: 25px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
	
}

.mainPanel tr td {
	width: 70px;
}

.afterTR,.afterTR-available,.afterTR-inuse,.afterTR-idle {
	background-color: #F5F6F5; 
}

.afterTR td div,.afterTR-available td div,.afterTR-inuse td div,.afterTR-idle td div{
	margin-top: 6px;
	text-indent: 31px;
}

.panel_title {
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	font-weight: bold;
	background-image: url(../../searchList/images/IMG_ListTitle_Middle_1x30.png);
	color: #FFFFFF;
	padding-left: 10px;
}

.panel_title span a {
	float: right;
	padding-right: 5px;
	color: #FFFFFF;
	text-decoration: none;
}

.todo_content{
	border: 1px solid #418FB5;
	padding: 6px 10px 10px 10px;
}

.todo_content table {
	height: auto;
	margin: 4px 0 0 0;
	color: #555555;
	border-spacing: 0;
	border-bottom: 1px solid #E6E6E6;
}

.todo_content table td{
	text-align: center;
}

.todo_content table th{
	font-size: 14px;
	height: 25px;
	line-height: 25px;
	border-bottom: 1px solid #23A5E3;
	color: #555555;
	text-align: center;
}

.tr_checkbox {
	width: 30px;
}

.confirmButton {
	background: url("../../image/common/BTN_Create_Hover_80x30.png") no-repeat;
	cursor: pointer;
	height: 30px;
	width: 80px;
	font-weight: bold;
	font-size: 14px;
	color: #FFFFFF;
	margin: 3px 0px -6px 7px;
}

.newlyComingAssetPanel,.returnedAssetPanel,.receivedAssetPanel,.idleAssetPanel {
	margin-top: 30px;
}

.warrantyExpiredPanel,.licenseExpiredPanel {
	width: 568px;
	margin-top: 30px;
}

.leftPanel_content{
	border: 1px solid #418FB5;
	padding: 6px 10px 10px 10px;
}

.leftPanel_content table {
	width: 540px;
	height: auto;
	margin: 4px 0 0 0;
	color: #555555;
	border-spacing: 0;
	border-bottom: 1px solid #E6E6E6;
}

.leftPanel_content table td{
	text-align: center;
	width: auto;
}

.leftPanel_content table th{
	font-size: 14px;
	height: 25px;
	line-height: 25px;
	border-bottom: 1px solid #23A5E3;
	color: #555555;
	text-align: center;
	width: auto;
}

.tr-header-customer {
	text-align: left;
	text-indent: 3px;
	font-size: 14px;
}

.tree_icons {
	background: url("../../image/common/tree_icons.png") no-repeat;
	display: inline-block;
	width: 16px;
    line-height: 16px;
}

.tree_icon_close {
	background-position: -96px -0px;
}

.tree_icon_open {
	background-position: -112px -0px;
}

.tr-all-asset,.tr-my-asset,.tr-customer-asset {
	background-color: #DDF1F9;
}

.tr-all-asset .tr-header,.tr-my-asset .tr-header {
	font-weight: bold;
}

.viewMoreIcon {
	background: url("../../image/common/view-more.png") no-repeat;
	float: right;
	margin-top: 9px;
	margin-right: 5px;
}

.viewMore {
	cursor: pointer;
}

.viewMoreContent {
	float: right;
	padding-right: 3px;
	font-size: 12px;
}





/* ----------------------------------------  separation line    ----------------------------------*/

















.middlePanel {
	width: 940px;
	margin: 0px;
	height: auto;
}
.middleTitle {
	height: 35px;
	background-color:#23A5E3;
	overflow:hidden;
	padding: 0 20px;
}

.middleTitle strong {
    font-size: 14px;
    font-weight: bold;
    float: left;
    margin: 12px 0 6px 0;
    color: #FFFFFF;
}
.middleTitle a {
	color: #FFFFFF;
    font-size: 12px;
    text-decoration: underline;
    float: right;
    margin: 13px 0 7px 0;
}
.middleContent, .middleFixContent{
	clear: both;
	width: 938px;
	height: auto;
	border: 1px solid #E6E6E6;
	border-top: 1px solid #38C3E7;
	padding: 0;
}
.middleContent table {
	height: auto;
	width: 938px;
	margin: 0 auto;
	color: #555555;
	table-layout:fixed;
}

.middleContent table th {
	background-color: #38C3E7;
	color: #FFFFFF;
	text-align: left;
    text-indent: 20px;
}
.middleContent table td {
	text-align: left;
    text-indent: 20px;
    white-space:nowrap;
    overflow-x:hidden;
    text-overflow:ellipsis;
}
.middleContent table td a {
	color: #23A5E3;
    text-decoration: underline;
}
/*
.middleFixContent {
	clear: both;
    width: 938px;
    border: 1px solid #E6E6E6;
    padding: 10px 19px 0 19px;
    border-top: 1px solid #FAFAFA;
    background-color: #FAFAFA;
}*/
.ui-button-text-only .ui-button-text { padding: 0px; }
.middleFixContent table {
	width: 940px;
    margin: 0;
    color: #555555;
}
.middleFixContent table th {
	background-color: #38C3E7;
    color: #FFFFFF;
    text-align: left;
    text-indent: 50px;
    height: 30px;
}
.middleFixContent table td {
    text-align: left;
    text-indent: 50px;
    height: 30px;
}
.middleFixContent table td a {
    color: #23A5E3;
    text-decoration: underline;
}

.middleShadow {
	height: 10px;
	width: auto;
	background: url("../img/IMG_Shadow_980x10.png") no-repeat;
}




.leftPanel {
    width: 430px;
    height: auto;
    margin-bottom: 5px;
    border: 0;
}
.leftTitle {
	height: 14px;
	width: auto;
	padding: 8px 20px 8px 20px;
	color: #FFFFFF;
	/*
	background: url("../img/BKG_Table_Header_1x35.png");
	*/
	background-color: #23A5E3;
}
.leftTitle strong {
	font-size: 14px;
	font-weight: bold;
	float: left;
}
.leftTitle a {
	color: #FFFFFF;
	font-size: 12px;
	text-decoration: underline;
	float: right;
}
.leftContent {
	width: 408px;
	height: auto;
	padding: 10px 10px 0 10px;
	/*
	border: 1px solid #E6E6E6;
	border-top: 1px solid #FAFAFA;
	*/
	border: 1px solid #23A5E3;
	background-color: #FAFAFA;
}
.leftContent table {
	width: 408px;
	height: auto;
}
.leftContent table tbody {
	width: 408px;
	margin: 0 10px;
	border-bottom: 1px solid #E6E6E6;
}

.leftContent table th {
	height: 30px;
	color: #555555;
	padding-bottom: 3px;
	border-bottom: 1px solid #23A5E3;
}
.leftContent table td {
	height: 30px;
	color: #555555;
}
.leftContent table td  a {
	color: #23A5E3;
	text-decoration: underline;
}
.totalTop td {
	border-bottom: 1px solid #E6E6E6;
}
.total td {
	border-top: 1px solid #FFFFFF;
	font-weight: bold;
}
.leftShadow {
	height: 10px;
	background: url("../img/IMG_Shadow_590x10.png") no-repeat;
}
.rightPanel {
    width: 500px;
    height: auto;
    margin-bottom: 15px;
    font-size: 14px;
}
.rightToDoTitle {
	height: 30px;
	line-height: 30px;
	color: #FFFFFF;
	padding: 0 20px;
	/*
	background: url("../img/BKG_TODO-List_530x25.png") no-repeat;
	*/
	background-color: #23A5E3;
}
.rightToDoTitle label {
	float: left;
	font-family:arial;
	font-size:14px;
	font-weight:bold;
}
.rightToDoTitle strong {
	font-size: 14px;
	font-weight: bold;
    float: left;
}
.rightToDoTitle a {
	color: #FFFFFF;
    font-size: 12px;
    text-decoration: underline;
    float: right;
}

.rightToDoContent {
	width: 478px;
	height: auto;
	/*
	border: 1px solid #E6E6E6;
	*/
	background-color: #FAFAFA;
	/*
	border-top: 1px solid #FAFAFA;
	*/
	border: 1px solid #23A5E3;
	padding: 6px 10px 10px 10px;
}
.rightToDoContent label {
	color: #555555;
}
.rightToDoContent table {
	width: 476px;
	height: auto;
	margin: 4px 0 0 0;
	color: #555555;
	border-spacing: 0;
	border-bottom: 1px solid #E6E6E6;
	table-layout:fixed;
}
.rightToDoContent table th {
	height: 30px;
	width: auto;
	color: #555555;
	border-bottom: 1px solid #23A5E3;
	text-align: left;
    text-indent: 15px;
}
.rightToDoContent table td {
	height: 30px;
	width: auto;
	text-align: left;
	text-indent: 15px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.rightToDoContent table td a {
	color: #23A5E3;
    text-decoration: underline;
}
.rightToDoContent .id {
	width: 25px;
	text-align: left;
	text-indent: 10px;
}
.toDoConfirm {
	width: auto;
	height: 25px;
	border-top: 1px solid #FFFFFF;
	padding: 8px 0 0 0;
}
.toDoConfirm input[type=button] {
	height: 25px;
	width: 100px;
	font-size: 14px;
	font-family:arial;
	font-weight:bold;
	color: #FFFFFF;
	border-width: 1px;
	border-color: #aaa;
	border-style: outset;
	/*
    background: url("../img/BTN_Confirm_BK_90x25.png") no-repeat;	
    */
    background-color: #23a5e3;
}
.rightExpiredTitle {
	height: 30px;
	width: auto;
	line-height: 30px;
    color: #FFFFFF;
    padding: 0 20px;
    /*
    background: url("../img/BKG_Warranty_530x25.png") no-repeat;
    */
    background-color: #23A5E3;
}
.rightExpiredTitle strong {
    font-size: 14px;
    font-weight: bold;
    float: left;
}
.rightExpiredTitle a {
    color: #FFFFFF;
    font-size: 12px;
    text-decoration: underline;
    float: right;
}
.rightExpiredTContent {
	width: 478px;
    height: auto;
    /*
    border: 1px solid #E6E6E6;
    border-top: 1px solid #FAFAFA;
    */
    border: 1px solid #23A5E3;
    background-color: #FAFAFA;
    padding: 10px 10px 2px 10px;
}
.rightExpiredTContent table {
    width: 476px;
    height: auto;
    color: #555555;
    table-layout:fixed;
}
.rightExpiredTContent table th {
    height: 30px;
    width: auto;
    /*
    color: #FFFFFF;
    background-color: #38C3E7;
    */
    color: #555555;
    border-bottom: 1px solid #23A5E3;
    font-size: 14px;
    
    text-align: left;
    text-indent: 10px;
}
.rightExpiredTContent table td {
    height: 30px;
    width: auto;
    text-align: left;
    text-indent: 10px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    
}
.rightExpiredTContent table td a {
    color: #23A5E3;
    text-decoration: underline;
}
.removePurchaseItem {
	height:25px;
    background-image:url("../img/Delete.png");
    margin-left: 10px;
    background-repeat: no-repeat;
    cursor: pointer;
}
.removePurchaseItem:hover {
	height:25px;
    background-image:url("../img/Delete_Hover.png");
    margin-left: 10px;
    background-repeat: no-repeat;
    cursor: pointer;
}
