@CHARSET "UTF-8";

.dataList-div-fields-border {
	line-height: 16px;
	height: 16px;
	border-width: 1px;
	border-style: inherit;
	border-color: #EEEE00;
	background-color: #FFEC8B;
}

.dataList-div-fields > div {
	cursor: pointer;
}

.sortable-placeholder {
	border-width: 1px;
	border-style: inherit;
	border-color: #B0E2FF;
	background-color: #B0E2FF;
	line-height: 16px;
	height: 16px;
}

