/*modify whole dialog's style*/
.ui-dialog {
	background-color: #FFFFFF;
}

/*modify background color of head*/
.ui-widget-header {
	border: 1px solid #71B3D6;
	background: #71B3D6;
	color: #FFFFFF;
	font-weight: bold;
}

/*modify site of title*/
.ui-dialog .ui-dialog-titlebar {
	border: 0;
}




/*modify font of title*/
.ui-widget {
	font-family: Arial, Trebuchet MS, Tahoma, Verdana, sans-serif;
	font-size: 1.1em;
}

.ui-dialog .ui-dialog-title {
	font-size: 14pt;
	font-weight: bold;
}

/*modify content (modify line)*/
.ui-widget-content {
	font-family: Arial, Trebuchet MS, Tahoma, Verdana, sans-serif;
	font-size: 17px;
	font-weight: normal;
	color: #555555
}

.ui-dialog .ui-dialog-content {
	text-align: center;
	padding: 0;
}

.ui-dialog .ui-dialog-buttonpane {
	text-align: center;
	margin: 0;
	padding: 0;
	background-color: #FFFFFF;
}

.confirmContent {
	margin: 1em;
}

/*button*/
.ui-button {
	width: 80px;
	height: 30px;
}

.ui-button .ui-button-text {
	display: block;
	line-height: 0;
	padding:0px !important;
}

.ui-button-text .ui-button-text-only{
	padding: 0px;
}
.ui-state-hover{
	border:0px!important;
	}
/* border change*/
.ui-state-default,.ui-widget-content .ui-state-default {
	border: 0;
}
/*set button's background*/
#greenButton,#warningButton,#greenButtonPart,#greenButtonGroup,#generateButton,#savePage,#resetRole,#cancelPage,#cancelSaveRole{
	background: url("../image/button/BTN_Create_80x30.png") 50% 50% repeat-x;
	font-weight: bold;
	color: #FFFFFF;
}

#greenButton:hover,#warningButton:hover,#greenButtonPart:hover,#greenButtonGroup:hover,#generateButton:hover,#savePage:hover,#resetRole:hover,#cancelPaper:hover,#cancelSaveRole:hover{
	background: url("../image/button/BTN_Create_Hover_80x30.png") 50% 50% repeat-x;
	font-weight: bold;
	color: #FFFFFF;
}
#confirmOK,#alertOK,#sureButton{
	background: #009900 url("../image/button/BTN_Create_80x30.png") 50% 50% repeat-x;
	font-weight: bold;
	color: white;
	border:0px!important;
	
}
#confirmOK:hover,#alertOK:hover,#sureButton:hover{
background: #009900 url("../image/button/BTN_Create_Hover_80x30.png") 50% 50% repeat-x;
	font-weight: bold;
	color: white;
}
#grayButton,#grayButtonPart,#grayButtonGroup,#confirmSaveRole,#confirmCancel{
	background: url("../image/button/BTN_Cancel_80x30.png") 50% 50% repeat-x;
	font-weight: bold;
	color: #555555;
}

#grayButton:hover,#grayButtonPart:hover,#grayButtonGroup:hover,#confirmCancel:hover, #confirmSaveRole:hover{
	background: url("../image/button/BTN_Cancel_Hover_80x30.png") 50% 50% repeat-x;
	font-weight: bold;
	color: #555555;
}




