.backTemp {
  min-height: 630px;
}
#searchCondition {
	float: left;
	margin: 20px 0px 0px 10px
}
.dataList-width {
  width: 940px;
  margin-left: 10px;
}

.search {
  top: 20px;
  position: absolute;
  text-align: center;
  z-index:100
}

.search div {
  float: left;
}

.keyword {
  height: 16px;
  width: 452px;
  padding: 6px 3px;
  margin-left: -10px;
  color: #BFBFBF;
  font-family: Arial;
  font-size: 14px;
  text-indent:2px;
  position:relative;
}


.createTimeAll {
	margin-left:19px;
}

.createTimeDiv {
    margin-top: 10px;
	width: 320px;
	float: left;
}

.createTime {
	height: 16px;
	width: 140px;
	padding: 6px 3px;
	color: #BFBFBF;
    font-family: Arial;
    font-size: 14px;
    float:left;
}

.createTime_right {
	height: 16px;
    width: 140px;
    padding: 6px 3px;
    color: #555555;
    font-family: Arial;
    font-size: 14px;
    float:left;
	}

.createTimeLine {
	margin-left: 5px;
	margin-right: 5px;
	width: 10px;
	font-family: Arial;
    font-size: 14px;
    line-height: 30px;
    color: #BFBFBF;
    text-align: center;
    float:left;
}

.searchFilter {
  width: 498px;
  position: absolute;
  top: 51px;
  background-color: #F5F5F5;
  margin-left: 100px;
  border: solid 1px;
  border-color: #BFBFBF;
  z-index: 50;
  border-radius: 2px;
  -moz-border-radius: 2px 2px 2px 2px;
  display: none;
}

.div_filter {
  margin-left: 10px;
  margin-right: 10px;
  height: 30px;
  width: 30px;
  background: url(../image/search/ICN_Filter_30x30.png) no-repeat;
}

.div_filterNotice {
  display: none;
  background: url(../image/search/IMG_Filtered_16x16.png) no-repeat;
  position: absolute;
  height: 16px;
  width: 16px;
  top: 17px;
  left: 497px;
  z-index: 200;
}

.div_filter_click {
  margin-left: 8px;
  margin-right: 8px;
  height: 34px;
  width: 34px;
  background: url(../image/search/ICN_Filter_Active_34x34.png) no-repeat;
}

.blank {
  height: 19px;
}

.searchSelect,#usingTime {
  height: 30px;
  width: 200px;
}

.title {
  font-family: Arial;
  font-weight: bold;
  font-size: 14px;
  color: #555555;
}

.selectDiv {
  margin-top: 10px;
  margin-bottom: 10px;
}

.leftDiv {
  float: left;
  margin-left: 19px;
}

.rightDiv {
  float: right;
  margin-right: 19px;
}

.frequency {
  height: 16px;
  width: 82px;
  padding: 6px 3px;
  color: #555;
  font-family: Arial;
  font-size: 14px;
}

.frequencyFloat div {
  float: left;
}

.frequencyCenter {
  margin-left: 5px;
  margin-right: 5px;
  width: 10px;
  height: 30px;
}

.frequencyCenter a {
  color: #BFBFBF;
  line-height: 30px;
}

.reset {
  font-family: Arial;
  font-weight: normal;
  font-size: 14px;
  color: #418FB5;
  overflow: hidden;
}

.reset a {
  float: right;
  margin-right: 20px;
}

.resetRight {
  font-family: Arial;
  font-weight: normal;
  font-size: 14px;
  color: #418FB5;
  overflow: hidden;
  float:right;
  margin-top:16px;
}
.resetRight a {
  float: right;
  margin-right: 20px;
}
/*
.Assign_div {
  position: absolute;
  bottom: 20px;
  left: 10px;
  text-align: center;
}
.GenerateBarCode_div {
  position: absolute;
  bottom: 20px;
  left: 100px;
  text-align: center;
}
.RemoveBarCode_div {
  position: absolute;
  bottom: 20px;
  left: 200px;
  text-align: center;
}

.SavetoAudit_div {
  position: absolute;
  bottom: 20px;
  left: 300px;
  text-align: center;
}
.ChangeToTrue_div {
  position: absolute;
  bottom: 20px;
  left: 400px;
  text-align: center;
}
.ChangeToFalse_div {
  position: absolute;
  bottom: 20px;
  left: 500px;
  text-align: center;
}

*/

a.viewDetail {
    cursor: pointer;
    color: #418FB5;
}

